<div class="form-bg">
    <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div class="form-container">
                    <h3 class="title">User Login</h3>
                    <form class="form-horizontal">
                        
                        <div class="form-group">
                            <label>Email ID*</label>
                            <input class="form-control" type="email">
                        </div>
                        <div class="form-group">
                            <label>Password*</label>
                            <input class="form-control" type="password">
                        </div>
                        
                       
                        <button class="btn signin">Login</button>
                        <span class="user-login">Don't Have an Account? Click Here to <a  routerLink="../signup">Create One</a></span>
                    </form>
                    <div class="social-links">
                        <span>Or Connect With</span>
                        <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                        <a href="#"><i class="fab fa-facebook-f"></i> facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
